<div class="rounded-md flex items-center justify-center mt-2">
  @if(isFetching()){
  <p>Loading...</p>
  @if(error()){
  <p>Please retry after some time</p>
  } } @if(places()){
  <div
    class="flex flex-row gap-[9.33px] flex-wrap p-2 w-[1000px] h-[500px] rounded-md"
  >
    @for(items of places(); track items){
    <div
      (click)="saveSelectedPlace(items)"
      class="bg-white w-[320px] p-2 h-[200px] rounded-md"
    >
      <div class="h-full w-full relative">
        <div
          class="absolute bottom-0 p-2 flex items-center justify-center right-0 w-[60%] rounded-md h-[30px] bg-black opacity-50"
        >
          <p class="text-sm">{{ items.title }}</p>
        </div>
      </div>
    </div>
    }
  </div>

  }
</div>
